<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="Container" style="padding-top:5vh;padding-left:5vw;padding-right:5vw;">
        <div style="background-color:rgba(242,242,242,0.4);padding-top:5vh;padding-bottom:5vh;padding-left:5vw;padding-right:5vw;">
            <div class="Emailtext-T" style="font-size:18px;font-family:Verdana, Geneva, Tahoma, sans-serif,微軟正黑體;">
                <h4>Dear <span class="Receiver" style="color:red">@ViewBag.Name</span></h4>
                <p>感謝<span class="Receiver" style="color:red">@ViewBag.C</span>全體同仁協助 B產品 銷售事務，統計<span class="Receiver" style="color:red">@ViewBag.M</span>月份出貨盒數為<span class="Receiver" style="background-color:yellow">@ViewBag.Box</span>盒!【詳請連結此網址查閱<span class="Receiver" style="color:red">@ViewBag.M</span>月<span class="Receiver" style="background-color:yellow">@ViewBag.Link</span>】</p>
                <p><span class="Receiver" style="background-color:lightpink">紅利計算為@ViewBag.B(含稅)</span></p>
                <br>
                <br>
                <p>煩請開立發票【附件有手開發票說明檔，供您參考】</p>
                <h4 style="color:red">抬頭：XXXXXX股份有限公司</h4>
                <h4 style="color:red">統編：12345678</h4>
                <h4 style="color:red">內容：其他收入 or 商品收入</h4>
                <h4 style="color:red">備註：店鋪名稱</h4>
                <h4 style="color:red">金額：$<span class="Receiver">@ViewBag.I</span>(未稅)+$<span class="Receiver">@ViewBag.N</span>(稅金)=$<span class="Receiver">@ViewBag.All</span>(總計)</h4>
                <br>
                <br>
                <p><span style="color:red;background-color:yellow">※敬請於@ViewBag.LastDate號前寄出發票，如超過@ViewBag.LastDate號，將於隔月月底匯款，敬請見諒!</span></p>
            </div>
        </div>
        <div class="EmailEnd" style="font-size:18px;padding-top:1vh;padding-bottom:1vh;font-family:Verdana, Geneva, Tahoma, sans-serif,微軟正黑體;text-align:center;color:#fff;background-color:#80c4d9">
            <p style="color:white">※  Frank Mail Service </p>
        </div>
    </div>
</body>
</html>